* {
	/* border: 1px dashed blue; */
	padding: 0em;
	margin: 0em 0em 0em 0em;
}

body {
	background-color: #EEE;
	color: #333;
}

nav {
	color: white;
	background-color: #012345;
	padding: 0.75em;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline-block;
	border: 1px solid white;
	border-radius: 3px;
	padding: 0.5em 1em 0.5em 1em;
}

header {
	color: white;
	background-color: #123456;
	padding: 0.75em;
}

header h3 {
	margin: auto;
	width: 800px;
}

section {
	margin: auto;
	width: 800px;
	text-align: justify;
	padding: 1em;
}

footer {
	text-align: center;
}

nav li:hover {
	background: #345678;
}

.list li {
	margin-left: 3em;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

tab { padding-left: 4em; }